.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.header__menu {
    list-style-type: none;
    /*quitar bullet*/
}

.header__menu li {
    display: inline;
}